<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <!--text/html-->
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8">
    <title>Login page</title>
    <link th:href="@{/css/mainStyle.css}" rel="stylesheet" type="text/css" media="all">

    <!--<script th:src="@{../static/js/showingMessagge}" src="/static/js/showingMessagge" type="application/javascript" th:inline="javascript"></script>-->
</head>


<body>
<!--<script type="text/javascript" th:src="@{/static/js/tableManipulation}"></script>-->
<div class="welcomeStyle">
    Welcome: <p th:text="${nameOfLogedUser}"></p>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>

<div class="form-style-5" >
    <form th:action="@{/spending/add}" method="post" th:object="${spendingForm}" >

        <label>Date</label>
            <input type="date" th:field="*{timePlacedSpending}"  th:required="true">
      <label>Type of spending</label>
        <select th:field="*{category}">
               <option th:each="categoryIterator : ${categories}" th:value="${categoryIterator.id}"
                       th:text="${categoryIterator.name}">
               </option>
        </select>

            <label>Currency</label>
            <select th:field="*{money}">
                <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}" >
                </option>
            </select>

            <span class="validationError" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
                Error</span>
            <input type="text" name="howmuch"  th:field="*{amount}" placeholder="Type quote">

        <input type="submit" id="submitButton" value="Apply"  onclick="showSuccessMes()"/>


    </form>
</div>
  <table class="greenTable">
        <thead>
        <tr>
            <th>Amount</th>
            <th>Date of Spending</th>
            <th>Category</th>
        </tr>
        </thead>
      <tfoot>
      <!--<tr>-->
          <!--<td colspan="5">-->
              <!--<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a>-->
                  <!--<a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>-->
          <!--</td>-->
      <!--</tr>-->

      </tfoot>
    <tbody>
    <tr th:each="spendingIterate : ${allSpending}">

        <td th:text="${spendingIterate.getAmount()}">1</td>
        <td th:text=" ${spendingIterate.getSpendingtime()}">2</td>
        <td th:text="${spendingIterate.getCategory().getName()}">2</td>
    </tr>
    </tbody>
      <p>Your last expenses</p>
    </table>

<table class="greenTable" id="tableId" >
    <thead>
    <tr>
        <th>Current month's expenses</th>
        <th>Remains according to month limit</th>
    </tr>
    </thead>
    <tbody onload="alternateColor('tableId', 'row')">
    <tr >
        <td th:text="${monthSpending}"></td>
        <td th:text="${monthRemains}" id="row"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th>Current year's expenses<</th>
        <th>Remains according to year limit</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${yearSpending}"></td>
        <td th:text="${yearRemains}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th>Today's expenses<</th>
        <th>Average expenses of current month</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${currentDaySpending}"></td>
        <td th:text="${averageMonthSpending}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/limits/set}" method="get">
    <input type="submit" value="Set limit"/>
</form>
<form th:action="@{/stats/spendingByCategory}" method="get">
    <input type="submit" value="See month stats"/>
</form>


<!--<footer>-->


    <!--<div class="form">-->

    <!--<form action="deleteaccount" class="login-form" method="post" >-->
    <!--<input type="text" name="inname"  placeholder="login"/>-->
    <!--<input type="password" name="inpass" placeholder="password" />-->
    <!--<input type="submit" value="delete" />-->
    <!--<p class="message">Do you want delete account? </p>-->
    <!--</form>-->
<!--</div>-->
<!--</footer>-->
</body>
</html>
