<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login page</title>
    <link href="../static/css/mainStyle.css"  th:href="@{/css/mainStyle.css}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<div class="welcomeStyle">
    <p th:text="${nameOfLogedUser}">Welcome: </p>
    You logged as: <p th:text ="${loginOfLogedUser}"></p>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>

<!--<footer>-->


    <!--<div class="form">-->

    <!--<form action="deleteaccount" class="login-form" method="post" >-->
    <!--<input type="text" name="inname"  placeholder="login"/>-->
    <!--<input type="password" name="inpass" placeholder="password" />-->
    <!--<input type="submit" value="delete" />-->
    <!--<p class="message">Do you want delete account? </p>-->
    <!--</form>-->
<!--</div>-->
<!--</footer>-->
</body>
</html>
