<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <!--text/html-->
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8">
    <title>Login page</title>
    <link href="../static/css/mainStyle.css"  th:href="@{/css/mainStyle.css}" rel="stylesheet" type="text/css" media="all">

    <!--<script th:src="@{../static/js/showingMessagge}" src="/static/js/showingMessagge" type="application/javascript" th:inline="javascript"></script>-->
</head>

<body>

<div class="welcomeStyle">
    <p th:text="${nameOfLogedUser}">Welcome: </p>
    You logged as: <p th:text ="${loginOfLogedUser}"></p>
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>

<div class="form-style-5" >
    <form th:action="@{/spending/add}" method="post" th:object="${spendingForm}" >

        <label>Date</label>
            <input type="date" th:field="*{timePlacedSpending}"  th:required="true">
      <label>Type of spending</label>
        <select th:field="*{category}">
               <option th:each="categoryIterator : ${categories}" th:value="${categoryIterator.id}"
                       th:text="${categoryIterator.name}">
               </option>
        </select>
            <label>Currency</label>
            <select th:field="*{money}">
                <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}">
                </option>
            </select>
    <span class="validationError" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
                Error</span>
            <input type="text" name="howmuch"  th:field="*{amount}" placeholder="Type quote">

        <input type="submit" id="submitButton" value="Apply"  onclick="showSuccessMes()"/>
    </form>
</div>
<form th:action="@{/limits/set}" method="get">
    <input type="submit" value="Set limit"/>
</form>

<!--<footer>-->


    <!--<div class="form">-->

    <!--<form action="deleteaccount" class="login-form" method="post" >-->
    <!--<input type="text" name="inname"  placeholder="login"/>-->
    <!--<input type="password" name="inpass" placeholder="password" />-->
    <!--<input type="submit" value="delete" />-->
    <!--<p class="message">Do you want delete account? </p>-->
    <!--</form>-->
<!--</div>-->
<!--</footer>-->
</body>
</html>
